@font-face {
    font-family: 'Offside';
    font-style: normal;
    font-weight: 400;
    src: local('Offside'), local('Offside-Regular'), url(https://fonts.gstatic.com/s/offside/v5/HI_KiYMWKa9QrAykc5boRw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
.navbar-form>.form-group {
    display: inline-flex;
    width: auto;
}

.navbar-form.form-search input[type=text] {
    width: 260px;
}

.growl-container.growl-fixed.top-right {
    top: 50px;
    right: 5px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        float: none !important;
    }

    .navbar .navbar-nav > li,
    .navbar .navbar-nav > li:first-child {
        border-width: 0;
    }

    .navbar-menu.navbar-collapse {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .navbar-nav + .navbar-form {
        margin-top: 9px;
    }

    .navbar-form.form-search input[type=text] {
        width: 100%;
    }
}

.profile-user-info {
    width: 100%;
}

.profile-info-name {
    white-space: nowrap;
}

.navbar-brand > img {
    display: inline;
}

.profile-activity .profile-data {
    display: inline-block;
    width: calc(100% - 50px);
}

.mono {
    font-family: 'Roboto', sans-serif;
}

#loading-bar .bar {
    background-color: #5e4094;
    height: 3px;
}

#loading-bar-spinner .spinner-icon {
    width: 24px;
    height: 24px;
    border-width: 3px;
    border-top-color:  #5e4094;
    border-left-color: #5e4094;
}