<!DOCTYPE html>
<html lang="en" ng-app="web" ng-csp ng-controller='MainCtrl as ctrl'>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <link href="https://res.cloudinary.com/luneswallet/image/upload/v1519442468/icon-lunes_qhumiw.png" type="image/x-icon" rel="icon" />
    <link href="https://res.cloudinary.com/luneswallet/image/upload/v1519442468/icon-lunes_qhumiw.png" type="image/x-icon" rel="shortcut icon" />
    <title>Lunes Explorer</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body class="skin1" ng-cloak>
    <div growl></div>
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-container container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="/" class="navbar-brand"> 
                    <span id="logo" >
                        <span class="logolunes">L</span>
                        <span class="logolunes">u</span>
                        <span class="logolunes">n</span>
                        <span class="logolunes green-word">e</span>
                        <span class="logolunes">s</span>
                    </span>
                </a>
                
            </div>
            <nav role="navigation" class="navbar-menu navbar-collapse collapse pull-right no-padding" id="navbar-main">
                <ul class="nav navbar-nav" ng-controller="NavigationCtrl as nav">
                    <li ng-repeat="item in nav.menuItems track by $index">
                        <a ui-sref="{{item.url}}"><img src="{{item.icon}}"></img> {{item.title}}</a>
                    </li>
                    <li>
                        <a ng-href="{{::nav.wallet.url}}" target="_blank">
                            <img src="../icons/wallet.svg"> {{::nav.wallet.title}}
                        </a>
                    </li>
                    <li uib-dropdown>
                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="true">
                            <img src="../icons/misc.svg"> Misc <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-light-blue " role="menu" uib-dropdown-menu>
                            <li><a ng-href="{{::nav.peerExplorer.url}}" target="_blank">{{::nav.peerExplorer.title}}</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right form-search" role="search" ng-controller="SearchCtrl">
                    <div class="form-group">
                        <input type="text" ng-model="searchQuery" placeholder="Address / Tx sig / Block sig" name="q">
                    </div>
                    <button class="btn btn-mini btn-info2" ng-click="search()"><img src="../icons/pesquisas.svg" style="width:20px;"></button>
                </form>
            </nav>
        </div>
    </div>

    <div id="main-container" class="main-container container">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div id="navbar" ui-view="main" ng-cloak></div>
                </div>
                <!-- <a class="btn-scroll-up" id="btn-scroll-up" href="#teste_2"><i class="fa fa-arrow-up"></i></a> -->
            </div>
        </div>
        
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                            <span id="logo" class="text-left" style="float:left; letter-spacing:-6px;font-size:28px;">
                                    <span class="logolunes">L</span>
                                    <span class="logolunes">u</span>
                                    <span class="logolunes">n</span>
                                    <span class="logolunes green-word">e</span>
                                    <span class="logolunes">s</span>      
                                </span>
                    
                    <span class=" bigger-150">
                        <a href="https://www.facebook.com/lunesplatform/" target="_blank" title="Facebook"><img src="/icons/fb.png" height="30px" width="30px"></a>
                        <a href="https://medium.com/@lunes.platform" target="_blank" title="Medium"><img src="/icons/medium.png" height="30px" width="30px"></a>
                        <a href="https://t.me/LunesPlatformEN" target="_blank" title="Telegram"><img src="/icons/telegram.png" height="30px" width="30px"></a>
                        <a href="https://twitter.com/lunesplatform" target="_blank" title="Twitter"><img src="/icons/twitter.png" height="30px" width="30px"></a> 
                        <a href="https://github.com/Lunes-platform" target="_blank" title="GitHub"><img src="/icons/github.png" height="30px" width="30px"></a>                       
                        <a href="https://lunes.io/" target="_blank" title="Website"><img src="/icons/lunes.png" height="30px" width="30px"></a>                        
                        
                    </span>
                </div>
            </div>
        </div>

        
                <!-- <a class="btn-scroll-up btn btn-sm display" id="btn-scroll-up" href="javascript: void();"><i class="fa fa-arrow-up"></i></a> -->

    </div>

    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>

    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>
